body.cryptos {
  * {
    font-size: 18px;
    font-weight: 500;
    font-family: "ui-monospace", sans-serif;
  }
  .container {
    margin: auto;
  }

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

  .tarjetas {
    margin-top: 50px;
    display: flex;
    //gap: 20px;
    justify-content: space-between;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    p {
      margin: 0;
      font-size: 23px;
      &:after {
        content: "€";
      }
    }
    .tarjeta {
      background: rgba(0, 128, 0, 0.541);
      padding: 5px 20px;
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;
      border-radius: 10px;
      font-size: 23px;
      svg {
        width: 50px;
        height: 50px;
      }
      &:first-child {
        background-color: rgba(255, 0, 0, 0.2);
      }
      &:nth-child(2) {
        background-color: rgba(179, 255, 0, 0.2);
      }
      &:nth-child(3) {
        background-color: rgba(255, 238, 0, 0.2);
      }
      &:nth-child(4) {
        background-color: rgba(0, 255, 242, 0.2);
      }
      &:nth-child(5) {
        background-color: rgba(234, 0, 255, 0.2);
      }
      &:nth-child(6) {
        background-color: rgba(0, 255, 13, 0.2);
      }
    }
  }
  .data {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    & > * {
      width: 50%;
    }
    .graphic {
      margin-bottom: 130px;
      background: url("../../assets/Rectangle\ 837.png") center center no-repeat;
      background-size: cover;
      border-radius: 50px 0 0 50px;
      .dots {
        display: none;
      }
      .top-graphico {
        padding: 20px;
        background: grey;
        width: fit-content;
        border-radius: 50px;
        margin: 30px;
        p {
          margin: 0;
          &:after {
            content: "€";
          }
        }
      }
    }
    .last-move {
      margin-bottom: 130px;
      background: #414141;
      padding: 20px;
      height: 100%;
      border-radius: 0 50px 50px 0;
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
          display: flex;
          flex-direction: row;
          justify-content: start;
          gap: 100px;
          color: green;
          text-shadow: 0 0 0 1px white;
          &:nth-last-child(3),
          &:last-child {
            color: red;
          }
        }
      }
    }
  }
}
